@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: white;
  text-align: none;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  display: grid;
  place-items: center;
}

header a {
  color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* #products */

.products ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products li {
  height: 47rem;
  padding: 1rem;
  margin: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem solid #808080;
}

.button.primary {
  background-color: #ffc000;
}

a {
  text-decoration: none;
  color: #203040;
}

/* Filter */

.filter {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #c0c0c0;
}

.filter div {
  flex: 1;
}

select {
  padding: 0px 10px;
  outline-width: 0;
  border-radius: 10px;
  cursor: pointer;
}

/* Cart */

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.cart-header {
  border-bottom: 0.1rem solid #c0c0c0;
}

.cart-items {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.total > div {
  font-size: 2rem;
}

.total div,
.total > button {
  flex: 1;
}

/* checkout form */

.form-container {
  padding: 0;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
}

/* product details */

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
